@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

body {
    background: #2e3141;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: transparent;
}

.logo {
    font-size: 25px;
    color: #6AC5FE;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 300ms;
}

.navbar a:hover {
    color: #6AC5FE;
}

.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    padding-right: 20px;
}

.banner img {
    height: 65%;
    width: 65%;
    border-radius: 50%;
    margin-left: 50px;
    object-fit: cover;
}

.banner-content {
    max-width: 650px;
}

.banner-content h1 {
    font-size: 56px;
    font-weight: 700;
    color: white;
    padding-bottom: 10px;
}

.banner-content p {
    font-size: 20px;
    color: white;
}

.about-me img {
    height: 75%;
    width: 75%;
    border-radius: 50%;
    object-fit: cover;
}

.about-me {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.about-me-content {
    max-width: 650px;
}

.about-me-content h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.about-me-content hr {
    margin-bottom: 15px;
}

.about-me-content p {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.my-education {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.my-education img {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 85px;
}

.my-education-content {
    max-width: 650px;
}

.my-education-content h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.my-education-content hr {
    margin-bottom: 15px;
}

.my-education-content p {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.my-education-content ul {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
}

.projects {
    height: 100vh;
    align-items: center;
    padding: 0 10%;
    margin-top: 150px;
}

.projects-content h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    align-self: center;
}

.projects-content hr {
    margin-bottom: 15px;
}

.features {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 2em 0;
}

    .features article {
        padding: 1.75em 1.75em 0.1em 1.75em ;
        background-color: #353849;
        border-radius: 5px;
        margin: 1.5em 3em 1.5em 0;
        width: calc(50% - 1.5em);
    }

        .features article:nth-child(2n) {
            margin-right: 0;
        }

        .features article .image {
            border-radius: 5px 5px 0 0;
            display: block;
            margin-bottom: 1.75em;
            margin-left: -1.75em;
            margin-top: -1.75em;
            position: relative;
            width: calc(100% + 3.5em);
        }

            .features article .image img {
                border-radius: 5px 5px 0 0;
                width: 100%;
            }

    @media screen and (max-width: 980px) {

        .features article {
            margin: 1em 2em 1em 0;
            width: calc(50% - 1em);
        }

    }

    @media screen and (max-width: 736px) {

        .features article {
            padding: 1.5em 1.5em 0.1em 1.5em ;
            margin: 0.875em 1.75em 0.875em 0;
            width: calc(50% - 0.875em - 1px);
        }

            .features article .image {
                margin-bottom: 1.5em;
                margin-left: -1.5em;
                margin-top: -1.5em;
                width: calc(100% + 3em);
            }

    }

    @media screen and (max-width: 480px) {

        .features {
            display: block;
        }

            .features article {
                width: 100%;
                margin: 0 0 2em 0 !important;
            }

    }