@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    outline: none;
    border: none;
    transition: .2s linear;
}

body {
    background: #2e3141;
}

html {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #2e3141;
    border-color: #424556;
}

.logo {
    font-size: 40px;
    color: #6AC5FE;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 300ms;
}

.navbar a:hover {
    color: #6AC5FE;
}

.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    padding-right: 20px;
}

.banner img {
    height: 65%;
    width: 65%;
    border-radius: 50%;
    margin-left: 50px;
    object-fit: cover;
}

.banner-content {
    max-width: 650px;
}

.banner-content h1 {
    font-size: 56px;
    font-weight: 700;
    color: white;
    padding-bottom: 10px;
}

.banner-content p {
    font-size: 20px;
    color: white;
}

.about-me img {
    height: 75%;
    width: 75%;
    border-radius: 50%;
    object-fit: cover;
}

.about-me {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.about-me-content {
    max-width: 650px;
}

.about-me-content h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.about-me-content hr {
    margin-bottom: 15px;
}

.about-me-content p {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.my-education {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.my-education img {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 85px;
}

.my-education-content {
    max-width: 650px;
}

.my-education-content h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.my-education-content hr {
    margin-bottom: 15px;
}

.my-education-content p {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.my-education-content ul {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* Section styling */
.projects {
    padding: 2rem 5%;
    text-align: left;
}



.section-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 1rem;
    color: white;
    margin-top: 50px;
}

.projects p {
    max-width: 1600px;
    margin: 0 auto 2rem;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

/* Grid Layout */
.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.project-card {
    background-color: #424556;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-image img {
    width: 100%;
    height: auto;
}

.project-details {
    padding: 1rem;
}

.project-name {
    font-size: 24px;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}

.project-links {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.project-links a {
    color: #6AC5FE;
    text-decoration: none;
    font-size: 16px;
}

.browse-all-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #6AC5FE;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.browse-all-button:hover {
    background-color: #4a99ce;
}

.contact-section {
    padding: 2rem 5%;
    text-align: center;
    color: white;
}

.contact-section h2 {
    font-size: 40px;
    margin-bottom: 1rem;
}

.contact-section p {
    max-width: 1600px;
    margin: 0 auto 2rem;
    font-size: 20px;
    color: white;
}


.contact-form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 2rem;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    color: white;
    margin-bottom: 8px;
    font-size: 20px;
}

.contact-form input,
.contact-form textarea {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #6AC5FE;
    border-radius: 8px;
    background-color: #2e3141;
    color: white;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form button {
    padding: 0.75rem;
    background-color: #6AC5FE;
    border: none;
    border-radius: 8px;
    color: white;
    transition: background-color 0.3s;
    font-size: 20px;
}

.contact-form button:hover {
    background-color: #4a99ce;
}

/* Contact Information Styling */
.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    padding-left: 0;
}

.contact-method {
    display: flex;
    gap: 1rem;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 40px;
}


.contact-method a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-method a:hover {
    color: #6AC5FE;
}



